.sidenav__bar{
    position: relative;
    background-color:rgb(24, 0, 18);
   padding: 15rem;
    top: 0;
    z-index: 1;
}

.sidenav__icon-bar {
  position: fixed;
  top: 0;
  margin: 34px;
   color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}

.sidenav__hidden {
    display: none;
}

.sidenav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.sidenav__link{
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 44px;
}

.sidenav__link:hover {
  color: rgb(0, 85, 41);
}


.sidenav__icon-cart {
  font-size: 25px;
  color: #ffffff;
}


.shop__cart {
  margin-left: 40px;
}
