.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 35px;
  background-color: #005661;
}

/* .logo {
  font-size: 24px;
  color: #ffffff;
  margin-right: 15rem;
} */


.nav__links {
 margin-top: 10px;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 1.5rem;
}

.nav__link:hover {
  color:#00a7bd ;
}



.nav__links {
  padding-left: 55px;
}

.nav__icon_cart {
  font-size: 25px;
}

.nav__logo {
  color: red;
  font-size: 24px;
}

.nav__icon_bar {
  color: #070707;
  font-size: 30px;
  cursor: pointer;
}


@media(max-width:1200px) {

}

@media(max-width:992px) {
  .nav__links {
    display: none;
  }
  /* .icon-shop{
     display: none;
  } */
}

@media(max-width:768px) {
   .nav__links {
    display: none;
  }
  /* .icon-shop{
     display: none;
  } */
}


@media(max-width:576px) {
 .nav__links {
    display: none;
  }
  .logo{
   display: none;
  }
}

