/* .signup--box{

} */
.signup--field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.signup--p {
  padding-top: 0rem; 
}

input {
  font-size: 1.5rem;
  padding: 0.4rem;
  border: 1px solid black;
}

.signup-container{
 padding: 5px;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
  color: #0e0e41;
}

.signup--btn {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 18px;
}




