.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 35vh;
}

.cart__items {
    margin-left: 2rem;
}

.cart__modal {
    display: flex;
    flex-direction: row;
}


.cart__h1{
    font-size: 1.1rem;
    color: #0e0e41;
}

.cart__img {
    height: 8rem;
}

.cart__span {
  font-size: 1rem;
  padding-top: 0.5rem;
}



.icon__minus {
     margin-right: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    color: #ffffff;
}

.icon__plus {
    margin-left: 0.5rem;
    font-size: 12px;
    cursor: pointer;
     color: #ffffff;
}

.other__btn {
    position: relative;
    bottom: 9rem;
    margin-left: 49rem;
}

.cart__btn {
  background-color:#009166;
  color: white;
  margin-top: 1rem;
  font-size: 1rem;
  min-width: 70%;
  min-height: 50%;
  border-radius: 2px;
}
.cart__btn:hover{
    background-color: #007552;
}
.cart__text-link {
    margin-top: 10px;
    color: black;
    font-size: 16px;
}