
.section__main {
    margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section__container {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__img {
    min-width: 500px;
  height: 400px;
}

.section__h1 {
  padding-top: 6rem;
  font-size: 25px;
  color: #005043;
  text-align: center;
}

.section__btn {
 
  margin-top:25px;

}

.section__btn-h1 {
  font-size: 45px;
  color: #005043;
  text-align: left;
}

.section__btn-p {
  font-size: 18px;
  color: #0e0e41;
}

@media(max-width:67.5rem) {
  .section__h1 {
    font-size: 27px;
    min-width: 250px;
  }

  .section__img {
     height: 300px;
      min-width: 350px;
  }

  .section__btn-h1 {
    font-size: 35px;
  }

  .section__btn-p {
    font-size: 14px;
  }
}

@media(max-width: 48rem) {
   .section__h1 {
      padding-top: 4rem;
    font-size: 20px;
    margin-left: 10px;
  }
   .section__img {
     position: relative;
      height: 250px;
       min-width: 300px;
     bottom: 270px;
  }
  .section__main {
    display: flex;
  flex-direction: column;
  align-items: center;
  }

  .section__container {
    position: relative;
     top: 230px;
     align-items: center;
  }

  .section__side{
     text-align: center;
}

   .section__btn-h1 {
    font-size: 35px;
    text-align: center;
  }

  .section__btn-p {
    font-size: 16px;
    padding-top: 14px;
    text-align: center;
  }
}

@media(max-width:36rem) {
   .section__h1 {
      padding-top: 2rem;
    font-size: 15px;
    min-width: 150px;
    margin-left: 10px;
  }
    .section__img {
     height: 200px;
      min-width: 250px;
  }
.section__container {
    position: relative;
     top: 180px;
     align-items: center;
  }
.section__btn-h1 {
    font-size: 30px;
    max-width: 250px;
  }
.section__side{
     text-align: center;
}
  .section__btn-p {
    padding-top: 1rem;
    font-size: 16px;
    min-width: 150px;
  }
}