
.icon__cart {
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.icon__number {
    background-color: rgb(0, 85, 41);
    color:white;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 25px;
    position: relative;
    right:10px;
}

