/* 
.icon--link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 1.5rem;
} */


.icon__cart {
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.icon__number {
    background-color: #8b0068;
    color:white;
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 25px;
    position: relative;
    right:10px;
    bottom: 16px;
}

@media(max-width:992px) {
  .icon__number {
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 25px;
    position: relative;
    right:12px;
    bottom: 20px;
}
}
@media(max-width:768px) {
  .icon__number {
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 25px;
    position: relative;
      right:12px;
    bottom: 20px;
}
}

@media(max-width:576px) {
.icon__number {
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
    border-radius: 25px;
    position: relative;
     right:12px;
    bottom: 20px;
}
}