
.signup--field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  min-height: 45rem;
}
.signup--p {
  padding-top: 1rem;
  
}

.sign-up--email input {
  font-size: 1.7rem;
  padding: 0.3rem;
  border: 1px solid currentColor;
}

.signup--password input {
  font-size: 1.7rem;
  padding: 0.3rem;
  border: 1px solid currentColor;
}

.signup-form--p {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
  color: #0e0e41;
}

.signup--btn {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
}


.signup--btn-social-go{
    padding: 0.8rem 11.2rem;
  margin-top: 1.7rem;
  background-color: blue;
  opacity: 1;
  color: #ffeea4;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

.signup--btn-social-fb {
  padding: 0.8rem 10.8rem;
  margin-top: 0.5rem;
  background-color: #000072;
  opacity: 1;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  width: 50px;
}
