  

.category {
    margin: 50px;
    padding-right: 5rem;
    font-size: 18px;
    font-weight: 600;
}
   
.shop__list{
    display: grid;
    /* padding: 150px; */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
    justify-content: center;
    /* grid-template-columns: repeat(4, 2fr); */
    /* position: relative; */
    /* bottom: 150px; */
}

/* @media(max-width:67.5rem) {
    .shop__list{
    display: grid;
    row-gap: 2rem;
     grid-template-columns: repeat(3, 2fr);
  }

}

@media(max-width:65rem) {

  .category {
    margin-top: 4rem;
    margin-bottom: 5rem;
      
   }

    .shop__list{
     row-gap: 2rem;
     grid-template-columns: repeat(3, 2fr);
    } */



@media(max-width:48rem) {
 .category {
    margin-top: 5rem;
    margin-bottom: 6rem;
   }

   .shop__list{
     display: grid;
      grid-template-columns: repeat(2, minmax(4rem, 1fr));
   }
}