.side--navbar{
    position: absolute;
    background-color: #00333a;
    width: 25rem;
    height: 65rem;
    top: 0;
    z-index: 1;
}

.side-nav--icon-bar {
  position: absolute;
  top: 0;
  margin: 34px;
   color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.side--hidden {
    display: none;
}

.side-nav--links {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.side-nav--link{
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 44px;
  margin: 0 0 0 60px;
}

.side-nav--link:hover {
  color: #4848ff;
}


.side-nav--icon-cart {
  font-size: 25px;
  color: #ffffff;
}


.side-nav--icon-times {
  color: #ffffff;
  position: relative;
  left: 20rem;
  margin: 25px;
  font-size: 28px;
  cursor: pointer;
}

.shop--cart {
  margin-left: 40px;
}

@media(max-width:576px) {
   .side--navbar{
     width: 26rem;
   }

   .side-nav--link {
     font-size: 16px;
     margin: 0 0 0 30px;
   }

   .shop--cart {
    margin-left: 15px;
   }

  .side-nav--icon-times {
  left: 19rem;
  margin-top: 4rem;
  font-size: 24px;
  
  }
 

}

@media(max-width:376px) {
   .side--navbar{
     width: 20rem;
   }

    .side-nav--link {
     font-size: 16px;
     margin: 0 0 0 20px;
   }

   .side-nav--icon-times {
    left: 13rem;
    margin-top: 4rem;
    font-size: 26px;
   }

   .shop--cart {
    margin-left: 8px;
   }

}

