.sidenav__bar{
    position: absolute;
    background-color: #00333a;
    width: 25rem;
    height: 65rem;
    top: 0;
    z-index: 1;
}

.sidenav__icon-bar {
  position: absolute;
  top: 0;
  margin: 34px;
   color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.sidenav__hidden {
    display: none;
}

.sidenav__links {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.sidenav__link{
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 44px;
  margin: 0 0 0 60px;
}

.sidenav__link:hover {
 color: #4848ff;
}


.sidenav__icon-cart {
  font-size: 25px;
  color: #ffffff;
}


.sidenav__icon-times {
  color: #ffffff;
  position: relative;
  left: 20rem;
  margin: 25px;
  font-size: 28px;
  cursor: pointer;
}

.shop__cart {
  margin-left: 40px;
}

@media(max-width:576px) {
   .sidenav__bar{
     width: 26rem;
   }

   .sidenav__link {
     font-size: 16px;
     margin: 0 0 0 30px;
   }

   .shop__cart {
    margin-left: 15px;
   }

  .sidenav__icon-times {
  left: 19rem;
  margin-top: 4rem;
  font-size: 24px;
  
  }
 

}

@media(max-width:376px) {
   .sidenav__bar{
     width: 20rem;
   }

    .sidenav__link {
     font-size: 16px;
     margin: 0 0 0 20px;
   }

   .sidenav__icon-times {
    left: 13rem;
    margin-top: 4rem;
    font-size: 26px;
   }

   .shop__cart {
    margin-left: 8px;
   }
}

