.section--right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 130px;
}

.section--right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--ul-right{
  font-size: 1.2rem;
  color: #005043;
  padding: 25px;
}

.section--h1-right {
  padding-left: 30px;
  font-size: 50px;
  color: #005043;
}
.section-img-right{
  height: 450px;
}

@media(max-width:67.5rem) {
.section--h1-right {
  font-size: 35px;
  min-width: 300px;
  
}

  .section-img-right{
  height: 300px;
}

.section--right{
  padding: 40px;
}

.section--ul-right{
  font-size: 1rem;
 }

}

@media(max-width:48rem) {
  .section--right{
     margin: -30px;
  }
  .section--right {
    display: flex;
  flex-direction: column;
  align-items: center;
  }

  .section--right-text {
    padding-top: 20px;
  }
}

@media(max-width:36rem) {
  .section--right{
     margin: -30px;
  }
  .section--h1-right {
  font-size: 30px;
  min-width: 300px;
  
}

  .section-img-right{
  height: 250px;
}

.section--ul-right{
  font-size: 0.9rem;
 }
}