.signup__box{
background-color: #f1e3d1;
  padding: 5rem;
  min-height: 100vh;
  overflow: hidden;

}
.signup__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.signup__p {
  /* padding-top: 0rem;  */
  color: #000;
  width: 400px;
  text-align: center;
}

input {
  font-size: 12px;
  width: 300px;
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #000000;
}

input::placeholder {
  font-size: 12px;
}
.signup__container{
 padding: 5px;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
  color: #0e0e41;
}

.signup__btn {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 18px;
}




